
{{ uuid }}
{{ codename }}
{{ date }}
{{ fp_full_history_json }}

#consult-clouds-transaction

***

# transaction 道{{ search_name }}

## sent there 道{{ search_name }}

{{ text_sent_to }}

***
## gotten back 道{{ search_name }}

{{ text_gotten_back }}

***

